@use "global";
@use "flex";
@use "color";
@use "spacing";
@use "typography";

.admin-page {
  height: 100%;
  width: 100%;
  @extend .pa-3;
  @extend .d-flex-column;
  @extend .gy-6;
  @extend .scroll-y;
}

.step-status {
  width: 100%;
  @extend .pa-3;
  @extend .fs-20;
  background-color: rgba($color: white, $alpha: 0.5);
  p {
    @extend .mb-3;
    @extend .text-ellipsis;
  }
  p:last-child {
    @extend .mb-0;
  }
}

.read-wrapper {
  width: 100%;
  @extend .d-flex-column;
  @extend .gy-1;

  .read-row {
    width: 100%;
    @extend .d-flex;
    @extend .align-center;
    @extend .gx-1;

    .read-image {
      width: 10%;
      height: auto;
      &.sp {
        width: 12.5%;
      }
    }

    .balloon {
      $edge-size: 12px;
      border-radius: $edge-size;
      @extend .d-flex;
      position: relative;
      margin-left: 2%;
      padding: 8px 16px;
      @extend .fs-20;

      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: calc($edge-size * -2 + 1px);
        transform: translateY(-50%);
        border: $edge-size solid transparent;
      }

      &.two {
        $color: rgba(white, 0.87);
        background-color: $color;
        &:after {
          border-right: $edge-size solid $color;
        }
      }
      &.man {
        $color: rgba(#d7ebfe, 0.87);
        background-color: $color;
        &:after {
          border-right: $edge-size solid $color;
        }
      }
      &.lady {
        $color: rgba(#fce8ef, 0.87);
        background-color: $color;
        &:after {
          border-right: $edge-size solid $color;
        }
      }

      &.sp {
        $edge-size: 8px;
        border-radius: $edge-size;
        padding: 4px 8px;
        &:after {
          left: calc($edge-size * -2 + 1px);
          border-width: $edge-size;
        }
      }
    }
  }
}

.admin-button {
  width: 100%;
}

.answer-form {
  @extend .d-flex-column;
  @extend .gy-3;
  width: 100%;
  max-width: 400px;
}

.team-answer-form {
  @extend .d-flex;
  @extend .align-center;
  @extend .gx-1;
  width: 100%;
  max-width: 400px;
  $label-width: 120px;

  .team-answer-form-label {
    @extend .text-end;
    @extend .text-no-wrap;
    @extend .text-white;
    width: $label-width;
  }
  .team-answer-form {
    width: calc(100% - $label-width);
  }
}

.form {
  background-color: white;
}
