<div class="admin-page">
  <div class="step-status">
    <p>ピリオド：{{ periodLabel }}</p>
    <p>問題：{{ questionLabel }}</p>
    <p>ステップ：{{ step }}</p>
  </div>
  <div class="w-100 d-flex gx-3">
    <fes-button
      class="admin-button"
      [height]="100"
      colorMode="alert"
      [disabled]="!stepIndex"
      (emitClick)="back()"
    >
      <span class="fs-24">前：{{ previousStep }}</span>
    </fes-button>
    <fes-button
      class="admin-button"
      [height]="100"
      colorMode="success"
      [disabled]="
        step === steps.slice(-1)[0] || noPanelistAnswer || noTeamAnswer
      "
      (emitClick)="next(); sendStep()"
    >
      <span class="fs-24">次：{{ nextStep }}</span>
    </fes-button>
  </div>
  <div class="w-100 d-flex justify-end gx-3">
    <fes-button
      class="admin-button"
      [height]="50"
      [disabled]="!step"
      (emitClick)="backToInit()"
    >
      初めに戻る
    </fes-button>
    <fes-button
      class="admin-button"
      [height]="50"
      [disabled]="step !== '解答開示'"
      (emitClick)="skip()"
    >
      ピリオドスキップ
    </fes-button>
  </div>
  <div
    *ngIf="step === '' || step === 'タイトル' || step === 'オープニング'"
    class="step-status"
  >
    <p>登録済み解答者（現在：{{ totalRegisteredCount }}名）</p>
    <ng-container *ngFor="let registeredCount of registeredCounts">
      <p *ngIf="registeredCount.team">
        {{ registeredCount.team }}チーム：{{ registeredCount.count }}名
      </p>
    </ng-container>
  </div>
  <div *ngIf="noPanelistAnswer" class="w-100 d-flex-center">
    <div class="answer-form">
      <span class="small-title">解答を入力</span>
      <fes-select
        class="form"
        placeholder="正解を選択"
        [value]="answer"
        [options]="options"
        (select)="answer = $event"
      ></fes-select>
      <fes-button
        class="w-100"
        colorMode="success"
        [height]="48"
        [disabled]="!answer"
        (emitClick)="registerAnswer()"
        >登録</fes-button
      >
    </div>
  </div>
  <div *ngIf="noTeamAnswer" class="w-100 d-flex-column align-center gy-3">
    <span class="small-title">スコアを入力</span>
    <div *ngFor="let teamAnswer of teamAnswers" class="team-answer-form">
      <span class="team-answer-form-label">{{ teamAnswer.team }}チーム：</span>
      <fes-input
        class="form team-answer-form"
        [value]="teamAnswer.correctText"
        type="number"
        placeholder="スコア"
        [clearable]="true"
        (emitInput)="teamAnswer.correctText = $event"
      ></fes-input>
    </div>
    <fes-button
      class="team-answer-form"
      colorMode="success"
      [height]="48"
      (emitClick)="answerTeam()"
      >登録</fes-button
    >
  </div>
  <div *ngIf="!noPanelistAnswer && !noTeamAnswer" class="read-wrapper">
    <div *ngFor="let item of readItems; index as index" class="read-row">
      <img
        class="read-image"
        [src]="'/assets/images/mc-' + item.tag + '.png'"
        [ngClass]="{ sp: isSp }"
        [style.opacity]="+(!index || readItems[index - 1].tag !== item.tag)"
      />
      <div class="balloon" [ngClass]="item.tag + (isSp ? ' sp' : '')">
        <span
          [ngClass]="{
            'text-disabled':
              item.text.startsWith('(') && item.text.startsWith('(')
          }"
          >{{ item.text || "..." }}</span
        >
      </div>
    </div>
  </div>
</div>
