@use "@angular/material" as mat;
@use "global";
@use "typography";
@use "color";

@include mat.core();

$fes-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(color.$primary-color-map),
      accent: mat.define-palette(color.$gray-color-map),
    ),
  )
);
@include mat.all-component-themes($fes-theme);

.mat-icon {
  width: 100% !important;
}
.mdc-snackbar {
  .mat-mdc-snack-bar-action {
    min-width: 36px;
  }
  .mdc-button__label {
    @extend .fs-20;
  }
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0 !important;
}

.mat-mdc-button-touch-target {
  width: 100% !important;
  height: 100% !important;
}

.mat-mdc-snack-bar-container {
  --mat-snack-bar-button-color: #ffffff;
  color: #ffffff;
  $alpha: 0.75;
  &.default {
    --mdc-snackbar-container-color: rgba(#000, 0.5);
    background: rgba(#000, 0.5);
  }
  &.info {
    --mdc-snackbar-container-color: rgba(color.$primary-color, $alpha);
    background: rgba(color.$primary-color, $alpha);
  }
  &.success {
    --mdc-snackbar-container-color: rgba(color.$secondary-color, $alpha);
    background: rgba(color.$secondary-color, $alpha);
  }
  &.error {
    --mdc-snackbar-container-color: rgba(color.$alert-color, $alpha);
    background: rgba(color.$alert-color, $alpha);
  }
  .mat-simple-snackbar-action {
    color: #ffffff;
  }
  .mat-mdc-snack-bar-label {
    @extend .text-wrap;
  }
}

$form-height: 36px;
.mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid) {
  .mdc-notched-outline {
    & > * {
      border: 1px solid map-get(color.$gray-color-map, 200) !important;
    }
    .mdc-notched-outline__leading {
      border-right: none !important;
    }
    .mdc-notched-outline__notch {
      border-right: none !important;
    }
    .mdc-notched-outline__trailing {
      border-left: none !important;
    }
  }

  &.mdc-text-field--focused .mdc-notched-outline {
    & > * {
      border: 1px solid map-get(color.$gray-color-map, 800) !important;
    }
    .mdc-notched-outline__leading {
      border-right: none !important;
    }
    .mdc-notched-outline__notch {
      border-top: none !important;
      border-right: none !important;
    }
    .mdc-notched-outline__trailing {
      border-left: none !important;
    }
  }
  .mdc-notched-outline--notched {
    .mdc-notched-outline__notch {
      border-top: none !important;
    }
  }
}

.mat-mdc-form-field-flex {
  height: $form-height;

  .mat-mdc-floating-label {
    top: calc($form-height / 2) !important;

    &.mdc-floating-label--float-above {
      top: calc($form-height / 3 * 2 + 1px) !important;
      color: color.$text-medium-color;
    }
  }

  .mat-mdc-form-field-infix {
    padding: 6px 0 !important;
    min-height: unset !important;

    .mat-mdc-select-trigger {
      --mat-select-focused-arrow-color: color.$text-primary-color !important;
    }
  }

  .mat-mdc-form-field-icon-prefix {
    padding: 0 8px;
    @extend .fs-18;
    color: color.$text-medium-color;
  }

  .mat-mdc-form-field-icon-suffix {
    padding: 0 8px;
    @extend .fs-18;
    color: color.$text-medium-color;

    .mat-mdc-icon-button.mat-mdc-button-base {
      padding: 0;
      --mdc-icon-button-state-layer-size: 28px;

      .mdi {
        @extend .fs-18;
      }
    }
  }

  .mat-mdc-form-field-text-suffix {
    @extend .fs-12;
    margin-left: 4px;
  }
}

.mat-mdc-form-field-subscript-wrapper {
  @extend .fs-12;
}

.mat-mdc-form-field:not(.mat-form-field-invalid) {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.mat-mdc-optgroup-label {
  color: color.$text-disabled-color !important;
}

.mat-accordion {
  .mat-expansion-panel {
    box-shadow: none !important;
    background: transparent !important;
    &.mat-expansion-panel-spacing {
      margin: 0;
    }
    .mat-expansion-panel-header {
      height: auto;
      &.mat-expanded {
        background: map-get(color.$gray-color-map, 100) !important;
        border-color: color.$text-disabled-color;
      }

      .mat-expansion-panel-header-title {
        margin-right: 6px;
      }
    }
  }
}

.mat-drawer-container {
  background-color: transparent;
}
