@for $i from 0 through 20 {
  .w-#{$i * 5} {
    width: calc($i * 5%);
  }
  .max-w-#{$i * 5} {
    max-width: calc($i * 5%);
  }
  .min-w-#{$i * 5} {
    min-width: calc($i * 5%);
  }
  .h-#{$i * 5} {
    height: calc($i * 5%);
  }
  .max-h-#{$i * 5} {
    max-height: calc($i * 5%);
  }
  .min-h-#{$i * 5} {
    min-height: calc($i * 5%);
  }
  .wh-#{$i * 5} {
    width: calc($i * 5%);
    height: calc($i * 5%);
  }
  .max-wh-#{$i * 5} {
    max-width: calc($i * 5%);
    max-height: calc($i * 5%);
  }
  .min-wh-#{$i * 5} {
    min-width: calc($i * 5%);
    min-height: calc($i * 5%);
  }
}
.w-auto {
  width: auto;
}
.max-w-auto {
  max-width: auto;
}
.min-w-auto {
  min-width: auto;
}
.h-auto {
  height: auto;
}
.max-h-auto {
  max-height: auto;
}
.min-h-auto {
  min-height: auto;
}
.wh-auto {
  width: auto;
  height: auto;
}
.max-wh-auto {
  max-width: auto;
  max-height: auto;
}
.min-wh-auto {
  min-width: auto;
  min-height: auto;
}
.h-auto {
  height: auto;
}
.h-fit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.h-min {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.w-min {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.h-max {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.w-max {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.h-fill {
  height: -webkit-fill-available;
}
.w-fill {
  width: -webkit-fill-available;
}
