@use "constant";
@use "media";

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-wrap {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.text-no-wrap {
  white-space: nowrap;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-clip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.line-height-1 {
  line-height: 1;
}

.text-underline {
  text-decoration: underline;
}

$font-weight-map: (
  regular: 400,
  medium: 500,
  bold: 700,
);

@for $i from 0 through 48 {
  .fs-#{10 + $i * 2} {
    @include media.pc {
      font-size: constant.rem(10 + $i * 2);
    }
    @include media.sp {
      font-size: constant.rem(calc(10 + $i * 2 * 0.75));
    }
  }
}
@each $fw, $weight in $font-weight-map {
  .fw-#{$fw} {
    font-weight: $weight;
  }
}
@for $i from 0 through 48 {
  @each $fw, $weight in $font-weight-map {
    .font-#{10 + $i * 2}-#{$fw} {
      font-weight: $weight;
      @include media.pc {
        font-size: constant.rem(10 + $i * 2);
      }
      @include media.sp {
        font-size: constant.rem(calc(10 + $i * 2 * 0.75));
      }
    }
  }
}
