@use "color";
@use "flex";
@use "typography";

.fes-button-group {
  border: 0.5px solid map-get(color.$gray-color-map, 200);
  .group-button {
    color: color.$text-disabled-color;
    text-align: center;
    cursor: pointer;
    @extend .d-flex-center;

    &.disabled {
      cursor: default;
      color: color.$border-color;
    }
    transition: all 0.3s;
    &:not(.active) {
      background: #ffffff;
    }
    &.active {
      color: color.$text-medium-color;
      box-sizing: border-box;
      border: 1px solid map-get(color.$gray-color-map, 400);
      background: map-get(color.$gray-color-map, 200);
      &.primary {
        @extend .primary-color;
        border-color: color.$primary-color;
        @extend .primary-hover-bg-color;
      }
      &.secondary {
        @extend .secondary-color;
        border-color: color.$secondary-color;
        @extend .secondary-hover-bg-color;
      }
    }
    &:hover:not(.active):not(.disabled) {
      color: color.$text-medium-color;
      &.primary {
        @extend .primary-color;
      }
      &.secondary {
        @extend .secondary-color;
      }
    }
    .mdi {
      @extend .fs-24;
      line-height: 1.2;
    }
  }
}
