<div
  [id]="elementId"
  #buttonGroupRef
  class="fes-button-group"
  [ngClass]="wrap ? 'd-flex-wrap' : 'd-flex'"
  [style.width]="buttonGroupWidth + 'px'"
  [style.borderWidth]="noBorder ? '0px' : '0.5px'"
  [style.borderRadius]="borderRadius + 'px'"
>
  <div
    *ngFor="let button of buttons"
    [id]="[elementId, button.value].join('-')"
    class="group-button"
    [ngClass]="getClass(button)"
    [style.padding]="['0', buttonHeight / 5 + 'px'].join(' ')"
    [style.height]="buttonHeight + 'px'"
    [style.minWidth]="
      button.width || relativeButtonWidth
        ? (button.width || relativeButtonWidth) + 'px'
        : ''
    "
    [style.fontSize]="fontSize + 'px'"
    [style.lineHeight]="textWrap || button.icon ? '' : buttonHeight + 'px'"
    [style.borderWidth]="!noBorder && button.value === value ? '1.5px' : '0px'"
    [style.borderRadius]="borderRadius + 'px'"
    (click)="_change(button)"
  >
    <div class="d-flex-column">
      <span *ngIf="button.icon" class="mdi" [ngClass]="button.icon"></span>
      <span [ngClass]="textWrap ? 'text-wrap' : 'text-no-wrap'">{{
        button.label
      }}</span>
    </div>
  </div>
</div>
