@use "color";
@use "flex";
@use "typography";

.chip {
  @extend .d-flex-center;
  @extend .text-no-wrap;
  text-align: center;
  padding: 0 8px;
  border-radius: 100px;
  border: 1px solid color.$text-medium-color;
  background-color: color.$text-medium-color;
  color: #ffffff;

  &.outlined {
    background-color: #ffffff;
    color: color.$text-medium-color;
  }

  &.success {
    border-color: color.$success-color;
    &.outlined {
      color: color.$success-color;
    }
  }
  &.warn {
    border-color: color.$warn-color;
    &.outlined {
      color: color.$warn-color;
    }
  }
  &.alert {
    border-color: color.$alert-color;
    &.outlined {
      color: color.$alert-color;
    }
  }

  span {
    line-height: 1;
  }
}
