<div class="question-page">
  <ng-container *ngIf="step === ''">
    <span class="large-title">開始までしばらくお待ちください</span>
  </ng-container>

  <ng-container *ngIf="step === 'タイトル'">
    <img id="title-image" src="/assets/images/logo.png" />
  </ng-container>

  <ng-container *ngIf="step === 'オープニング'">
    <div class="period-guide-glass">
      <div class="period-guide-container">
        <span class="period-guide-title">オールスター感謝祭</span>
        <span class="period-guide"
          >全員参加型クイズ大会<br />スコアが高い人に豪華賞品！</span
        >
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="step === 'タイトル' || step === 'オープニング'">
    <audio src="/assets/audios/opening.mp3" autoplay loop></audio>
  </ng-container>

  <ng-container *ngIf="step === 'ピリオド開始'">
    <div class="flex-column-sub animate__animated animate__fadeIn">
      <span class="period-label">Period</span>
      <span class="period-number">{{ period.number }}</span>
    </div>
  </ng-container>

  <ng-container *ngIf="step === 'ピリオド説明'">
    <div class="period-guide-glass">
      <div class="period-guide-container red">
        <span class="period-guide-title">{{ period.title }}</span>
        <span class="period-guide">{{ period.description }}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="step === 'ピリオド開始' || step === 'ピリオド説明'">
    <audio src="/assets/audios/period_start.mp3" autoplay></audio>
  </ng-container>

  <ng-container *ngIf="step === '問題開始'">
    <span class="question-title"
      >{{ question.questionFormat === "動画" ? "動画" : "" }}問題</span
    >
    <audio src="/assets/audios/question.mp3" autoplay></audio>
  </ng-container>

  <ng-container *ngIf="step === '動画再生'">
    <video
      [ngClass]="question.file.height < question.file.width ? 'w-100' : 'h-100'"
      [src]="question.file.questionPath"
      autoplay
    ></video>
  </ng-container>

  <ng-container
    *ngIf="
      question &&
      (step === '解答開始' ||
        step === '解答結果' ||
        step === '解答開示' ||
        step === 'ピリオド終了')
    "
  >
    <div
      class="pa-24"
      [ngClass]="{
        'w-100 d-flex-center d-flex-reverse gx-2': horizontalLayout,
        'd-flex-column-center gy-3': !horizontalLayout
      }"
    >
      <ng-container
        *ngTemplateOutlet="
          questionTemplate;
          context: { vertical: horizontalLayout }
        "
      ></ng-container>
      <div
        [ngClass]="{
          'flex-1': question.optionFormat !== '画像',
          'w-100 d-flex-center gx-2': !horizontalLayout,
          'd-flex-column-center gy-3': horizontalLayout,
        }"
      >
        <div
          *ngIf="question.file"
          [ngClass]="{ 'd-flex-center': horizontalLayout }"
        >
          <img
            *ngIf="question.questionFormat === '画像'"
            [src]="
              step === '解答開始' || step === '解答結果'
                ? question.file.questionPath
                : question.file.answerPath || question.file.questionPath
            "
            [style.width]="question.file.width + 'px'"
            [style.height]="question.file.height + 'px'"
          />
          <video
            *ngIf="question.questionFormat === '動画'"
            [src]="
              step === '解答開始'
                ? question.file.questionPath
                : question.file.answerPath || question.file.questionPath
            "
            autoplay
            [style.width]="question.file.width + 'px'"
            [style.height]="question.file.height + 'px'"
          ></video>
        </div>
        <div
          [ngClass]="{
            'edge-option-wrapper': horizontalLayout,
            'one-column-option-wrapper': !horizontalLayout,
            'two-column-option-wrapper': period.panelistType === 'チーム'
          }"
        >
          <div
            *ngFor="let option of question.options; index as i"
            class="option-glass"
            [ngClass]="{
              'image-option-glass': question.optionFormat === '画像',
              'text-option-glass': question.optionFormat === '文字',
              correct:
                (step === '解答開示' || step === 'ピリオド終了') &&
                (option.value === questionAnswer ||
                  (period.panelistType === 'チーム' &&
                    answerCount[option.value]))
            }"
          >
            <div
              *ngIf="question.optionFormat === '画像'"
              class="image-option-wrapper"
            >
              <div class="image-option-container">
                <img
                  [src]="optionResources[i].imageSrc"
                  [ngClass]="{ 'timer-start': questionStarted }"
                  [style.transform]="option.transform"
                  [style.transition]="'all ' + question.second + 's'"
                />
              </div>
              <ng-container
                *ngTemplateOutlet="optionIconTemplate; context: { index: i }"
              ></ng-container>
              <div
                *ngIf="step === '解答開示' || step === 'ピリオド終了'"
                class="image-label-glass"
              >
                <div class="image-label-wrapper">
                  <span class="image-label">{{ option.value }}</span>
                </div>
              </div>
              <ng-container
                *ngTemplateOutlet="
                  answerCountTemplate;
                  context: { option: option }
                "
              ></ng-container>
            </div>
            <div
              *ngIf="question.optionFormat === '文字'"
              class="text-option-wrapper"
            >
              <ng-container *ngIf="period.panelistType === '個人'">
                <ng-container
                  *ngTemplateOutlet="optionIconTemplate; context: { index: i }"
                ></ng-container>
              </ng-container>
              <span class="text-option-label pl-3">{{ option.value }}</span>
              <ng-container
                *ngTemplateOutlet="
                  answerCountTemplate;
                  context: { option: option }
                "
              ></ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <audio
      *ngIf="step === '解答結果'"
      src="/assets/audios/answer_check.mp3"
      autoplay
    ></audio>
    <audio
      *ngIf="step === '解答開示'"
      src="/assets/audios/answer_open.mp3"
      autoplay
    ></audio>
    <audio
      *ngIf="step === 'ピリオド終了'"
      src="/assets/audios/period_end.mp3"
      autoplay
    ></audio>
  </ng-container>

  <img
    *ngIf="step === '総合チームランキングタイトル'"
    id="title-image"
    src="/assets/images/total-team-ranking-title.png"
  />

  <img
    *ngIf="step === '総合ランキングタイトル'"
    id="title-image"
    src="/assets/images/total-panelist-ranking-title.png"
  />

  <img
    *ngIf="step === '景品発表'"
    id="title-image"
    src="/assets/images/award-prize-title.png"
  />

  <img
    *ngIf="step === '提供'"
    id="sponsor-title"
    src="/assets/images/sponsor.png"
  />

  <div *ngIf="step === 'エンディング'" class="d-flex-column-center gy-9">
    <img class="w-65" src="/assets/images/logo.png" /><img
      class="w-90"
      src="/assets/images/thanks.png"
    />
  </div>

  <ng-container
    *ngIf="
      step === 'ピリオドランキング' ||
      step === 'ピリオド成績' ||
      step === '総合チームランキング' ||
      step === '総合チーム成績' ||
      step === '総合ランキング' ||
      step === '総合成績'
    "
  >
    <div class="ranking-container">
      <div class="ranking-result-wrapper">
        <div
          *ngIf="!results || !results.length"
          class="h-100 d-flex-center"
          style="width: 912px"
        >
          <span *ngIf="results" class="large-title">正解者なし...</span>
        </div>
        <div
          class="ranking-result"
          *ngFor="let result of results || []; index as i"
          [ngClass]="{
            'grand-prix': result.rank <= (period?.awardCount || 1),
            displayed: !!result.displayed
          }"
        >
          <div class="rank-container-glass">
            <div class="rank-container">
              <span>{{ result.rank }}</span>
            </div>
          </div>
          <span class="panelist-name">{{
            result.name +
              (step === "総合チームランキング" ||
              step === "総合チーム成績" ||
              period?.panelistType === "チーム"
                ? "チーム"
                : "")
          }}</span>
          <div
            *ngIf="!(period?.panelistType === '個人')"
            class="point-container"
          >
            <span class="point-label">{{ result.score }}</span>
            <span class="unit-label">P</span>
          </div>
          <span
            *ngIf="
              period?.panelistType === '個人' ||
              step === '総合ランキング' ||
              step === '総合成績'
            "
            class="second-label"
            >{{ result.elapsedSecond.toFixed(1) }}秒</span
          >
        </div>
      </div>
      <div class="ranking-title-glass">
        <div class="ranking-title-wrapper">
          <span class="ranking-title-label">{{
            step === "ピリオドランキング" || step === "ピリオド成績"
              ? period.panelistType === "個人"
                ? "早押しランキング"
                : "チームランキング"
              : step === "総合チームランキング" || step === "総合チーム成績"
              ? "総合チームランキング"
              : "総合ランキング"
          }}</span
          ><span
            *ngIf="
              (step === 'ピリオドランキング' || step === 'ピリオド成績') &&
              period.panelistType === '個人'
            "
            class="vertical-ranking-title-label"
            >10</span
          >
        </div>
      </div>
    </div>
    <audio
      *ngIf="results && results.length"
      src="/assets/audios/ranking.mp3"
      autoplay
    ></audio>
  </ng-container>
</div>

<ng-template #questionTemplate let-vertical="vertical">
  <div
    class="question-glass"
    [ngClass]="{
      'vertical-question-glass': vertical,
      'horizontal-question-glass': !vertical
    }"
  >
    <div class="question-wrapper">
      <div class="pa-2">
        <img src="/assets/images/Q.png" />
      </div>
      <div class="question-box">
        <span>{{ question.text }}</span>
      </div>
      <div class="timer-container">
        <video class="timer" autoplay>
          <source [src]="question.timerFilePath" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #optionIconTemplate let-index="index">
  <img class="option-icon" [src]="optionResources[index].iconSrc" />
</ng-template>

<ng-template #answerCountTemplate let-option="option">
  <div
    *ngIf="
      (step === '解答結果' || step === '解答開示' || step === 'ピリオド終了') &&
      isNumber(answerCount[option.value])
    "
    class="answer-count-glass"
    [ngClass]="{
      'image-answer-count-glass': question.optionFormat === '画像',
      'text-answer-count-glass': question.optionFormat === '文字',
  }"
  >
    <div class="answer-count-container">
      <span class="answer-count">{{
        answerCount[option.value].toFixed(0)
      }}</span>
    </div>
  </div>
</ng-template>
